<div class="top_nav">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="top_nav_left">free shipping on all u.s orders over $50</div>
            </div>
            <div class="col-md-6 text-right">
                <div class="top_nav_right">
                    <ul class="top_nav_menu">

                        <!-- Currency / Language / My Account -->

                        <li class="currency">
                            <a href="#">
                                usd
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="currency_selection">
                                <li><a href="#">cad</a></li>
                                <li><a href="#">aud</a></li>
                                <li><a href="#">eur</a></li>
                                <li><a href="#">gbp</a></li>
                            </ul>
                        </li>
                        <li class="account">
                            <a href="#">
                                <i class="fa fa-sign-in"></i>
                                Sign In
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="account_selection">
                                <li><a href="@Url.Action("", "")">Customer</a></li>
                                <li><a href="@Url.Action("", "")">Restaurant</a></li>
                                <li><a href="@Url.Action("", "")">Vendor</a></li>
                            </ul>
                        </li>
                        <li class="account">
                            <a href="#">
                                <i class="fa fa-user-plus"></i>
                                Register
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="account_selection">
                                <li><a href="@Url.Action("Register", "Customer")">Customer</a></li>
                                <li><a href="@Url.Action("Register", "Restaurant")">Restaurant</a></li>
                                <li><a href="@Url.Action("Register", "Vendor")">Vendor</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
